.btn_phone{
    width: 100px;
    border: none;
    font-size: 20px;
    background-color: lightsteelblue;
}
.btn_phone:hover{
    color: white;
}
.btn_computer{
    width: 100px;
    border: none;
    font-size: 20px;
    background-color: lightsteelblue;
}

.btn_tablet{
    width: 100px;
    border: none;
    font-size: 20px;
    background-color: lightsteelblue;
}

.btn_tv{
    width: 100px;
    border: none;
    font-size: 20px;
    background-color: lightsteelblue;
}